.container {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: 2fr 3fr 1fr;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  padding: 10px;
}
