<div class="container">
  <canvas #canvas id="canvas"></canvas>
  <div class="actions">
    <div class="undo">
      <span #undo>
        <i class="fa-solid fa-rotate-left"></i>
      </span>
    </div>
    <div class="clear">
      <span #clear>
        <i class="fa-solid fa-trash"></i>
      </span>
    </div>
    <div class="color-picker">
      <!-- <i class="fa-solid fa-palette"></i> -->
      <input #colorPicker type="color" id="color-picker" class="color-picker" />
    </div>
    <div class="pen-width">
      <input
        #penWidth
        type="range"
        min="1"
        max="30"
        value="2"
        id="color-range"
      />
    </div>
  </div>
</div>
