:root {
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  // Colors
  --color: #fff;

  // Background Colors
  --bg-color: rgb(76, 90, 212);
  --primary: #5ff478;
  --secondary: #d179f1;

  // HTML Elements
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  input {
    border: none;
    border-radius: 5px;
    color: #000;
    padding: 10px;
    height: 35px;
    width: 100%;
  }

  button {
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
  }

  button,
  i {
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--color);

  // overflow: hidden;
}
